.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.controls select {
  margin-left: 10px;
}

.kanban-board {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  background-color: #f4f4f4;
  min-height: auto;
}

.column {
  flex: 1;
  min-width: 200px;
  background: #f4f4f4;
 
  padding: 10px;
  /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
}

.ticket-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px;
}

.ticket-card h4 {
  margin: 0;
}

.ticket-card p {
  margin: 5px 0;
}

.controls {
  margin-top: 150px; /* Space between the button and dropdown */
  border: 1px solid #ccc; /* Border around the dropdown */
  border-radius: 4px; /* Rounded corners */
  padding: 10px; /* Padding inside the dropdown */
  background-color: white; /* Background color for visibility */
  position: absolute; /* Positioning for dropdown */
  z-index: 1000; /* Make sure it's on top */
}

.controls select {
  margin: 5px 0; /* Space between select elements */
  width: 100%; /* Full width for selects */
}
